login-page{
    ion-content{
       background-color: color($colors, energized) !important;
    }
    .button-block{
        max-width: 350px;
    }
    h1{
        color: color($colors, light);
    }
    ion-row{
        justify-content: center;
        button{
            display: block !important;
        }
    }

    @media screen and (max-width: 320px){
        img{
            width: 90%;
            height: 320px !important;
        }
    }
}