ion-menu{
    img{
        border-radius: 50%;
        height: 100px;
    }
    .toolbar-background-md, .toolbar-background-ios{
        background-color: black;
    }
    ion-toolbar{
       height:  200px;
    }
    .toolbar-content{
        display: flex;
        justify-content: center;
    }
    .scroll-content{
        background-color: color($colors, energized);
    }
    ion-list{
        .item-block{
            background: none;
            color: color($colors, light);
            
        }
    }
}
